.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: space-between; /* ✅ logo left, icon right */
  align-items: center;
  position: relative;
  z-index: 999;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0 20px;
    flex: 1;

    &__logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
    }

    &__menu {
      display: flex;
      list-style: none;
      text-align: center;
      margin-right: 2rem;

      &__item {
        line-height: 40px;
        margin-right: 1.5rem;
        font-size: 1.6rem;

        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          background: var(--yellow-theme-main-color);
        }

        &__links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;

          &:visited {
            color: var(--yellow-theme-main-color);
          }
          &:hover {
            color: var(--yellow-theme-main-color);
            opacity: 0.8;
          }
          &:active {
            color: var(--yellow-theme-main-color);
          }
        }
      }
    }
  }
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 80px;
    right: -110%;
    left: auto;
    width: 150px;
    height: auto;
    transition: all 0.5s ease;
    z-index: 998;
    border-radius: 0 0 0 10px;

    &.active {
      background: rgba(24, 24, 24, 0.95);
      right: 0;
      opacity: 1;
    }

    &__item {
      border-bottom: 1px solid #282828;
      margin: 0px;
      padding: 12px 15px;
      text-align: right;
      font-size: 1.4rem;
    }
  }

  .nav-icon {
    background: var(--yellow-theme-nav-background-color);
    display: block;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    position: fixed; /* ✅ */
    top: 25px; /* ✅ */
    right: 20px; /* ✅ */
    z-index: 1000; /* ✅ */
  }
}
